<%- include("partials/header") -%>

<h1>Compose</h1>
<form action="/compose" method="post">
  <div class="form-group">
    <label for="title">Title</label>
    <input id="title" type="text" class="form-control" name="title" required>
    <br>
    <label for="author">Author</label>
    <input id="author" type="text" class="form-control" name="author">
    <br>
    <label for="content">Post</label>
    <textarea name="content" id="content" class="form-control" rows="10"></textarea>
  </div>
  <input type="hidden" id="createdAt" name="createdAt" value="">
  <button type="submit" id="publishBtn" class="btn btn-primary">Publish</button>
</form>

<script src="/js/compose-script.js"></script>

<%- include("partials/footer") -%>
