<%- include("partials/header") -%>

<h1>Compose</h1>
<form action="/compose" method="post">
  <div class="form-group">
    <label for="postTitle">Title</label>
    <input id="postTitle" type="text" class="form-control" name="postTitle" required>
    <br>
    <label for="postBody">Post</label>
    <textarea name="postBody" id="postBody" class="form-control" rows="10"></textarea>
  </div>
  
  <button type="submit" class="btn btn-primary">Publish</button>
</form>

<%- include("partials/footer") -%>